/* FUENTE */

@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Mochiy+Pop+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --font-one: 'Roboto', 'Rubik', 'sans-serif';
    --font-two: 'Rubik', 'Roboto', 'sans-serif';
    --font-three: 'Londrina Solid', 'Roboto', 'sans-serif';
    --font-four: 'Mochiy Pop One', 'Roboto', 'sans-serif';

    --scroll-bar: 13px;

    --boderc-one: rgb(228, 165, 247);
    --color-first: rgba(86, 13, 109);
    --color-white: #fff;
    --color-black: #000;

    --bg-primary: rgba(249, 242, 231);
    --bg-secondary: rgba(231, 249, 244);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-one);
    font-size: 1rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* BODY */

/*HEADER*/

.midis-body {
    width: calc(100vw - var(--scroll-bar));
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    background-image: radial-gradient(600px at 0 0, var(--bg-primary), var(--bg-secondary));
    position: relative;
}

.midis-header {
    background-color: #fff;
    width: 100%;
    height: 80px;
}

.midis-head {
    width: 95%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
}

.midis-logo {
    height: 50px;
}

.icons-title {
    text-decoration: none;
    color: #505050;
    margin: 0 1rem;
    position: relative;
}

.bar{
    font-weight: 800;
   margin: 0 0 0 2rem; 
   color: #000;
}

.alingico {
    position: absolute;
    top:50%;
    right: -25px;
    transform: translateY(-50%);
}


/*nav*/

.midis-nav {
    width: 100%;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: end;
    padding-right: 2.5%;
}

.midis-nav-list {
    text-decoration: none;
    color: #505050;
    margin: 0 1.5rem;
    position: relative;
}

.rp{
    margin: 0 1rem;
}

.alingicotwo {
    position: absolute;
    top:5%;
    right: -25px;

}

.bandera {
    display: block;
    width: 100%;
    height: 8px;
    background: linear-gradient(90deg, #ff0000 25%, #616161 25% 80%);
}


/*title*/

.midis-title {
    background-color: #fff;
    height: 80px;
}

.midis-text-principal {
    font-size: 2rem;
    text-align: center;
    color: #fff;
    padding: 18px 0;
}



/* .bd-header {
    width: 100%;
    background-color: #fff;
}

.nav_conteiner {
    width: min(90%, 1200px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    --icon-toggle-menu: url("./img/menu.png");
    --transform-menu-show: translate(-100%)
}

.nav_conteiner:has(.nav_input:checked) {
    --icon-toggle-menu: url("./img/smenu.png");
    --transform-menu-show: translate(0%)
}

.logomidis {
    height: 40px;
}

.logo,
.acceso {
    z-index: 10;
}

.nav_input {
    display: none;
}

.acceso {
    width: 30px;
    height: 30px;
    background-image: var(--icon-toggle-menu);
    background-size: cover;
    transition: background-image .5s;
}

.nav_input {
    width: 40px;
    height: 40px;
}

.nav_list {
    transform: var(--transform-menu-show);
    position: fixed;
    inset: 0;
    padding: 1.5rem 5%;
    background-color: #fff;
    list-style: none;
    display: grid;
    place-content: center;
    gap: 2rem;
    text-align: center;
    transition: .5s transform;
    z-index: 3;
}

.nav_link {
    color: rgb(47, 47, 47);
    text-decoration: none;
    font-size: .9rem;
}

.nav_link:hover {
    font-size: 1rem;
}


body

.bd-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.accesibilidad {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    background-color: #676767;
    height: 50px;
}

.lengua {
    background-color: rgb(255, 255, 255);
    color: #464646;
    padding: .5rem;
    margin: .1rem;
    text-align: center;
    border-radius: .5rem;
    text-decoration: none;
    width: 200px;
    font-size: .8rem;
}

.lengua:hover {
    background-color: rgb(197, 220, 254);
}

.accs {
    background-color: #f93e3e;
    color: #ffffff;
    padding: .5rem;
    margin: .1rem;
    text-align: center;
    border-radius: .5rem;
    text-decoration: none;
    width: 200px;
    font-size: .8rem;
}

.title {
    text-align: center;
    font-size: 1.5rem;
    color: #323232;
    padding: 2rem
}

.midisall {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.contentmidis {
    width: 310px;
    height: 150px;
    background: linear-gradient(0deg, #024271 32%, #0f74be 32% 80%);
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    margin: .5rem;
}

.redc {
    background: linear-gradient(0deg, #710202 32%, #be0f0f 32% 80%);
}

.boxmidis {
    width: 200px;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-flow: column nowrap;
}

.lettermidis {
    padding: 1rem 0 0 1rem;
    font-size: 1rem;
    color: #ffffff;
}

.importletter {
    font-size: 1.4rem;
    font-weight: 600;
    color: #ffffff;
    padding: 0 0 0 1rem;
    margin-top: .3rem;
}

.imgmidis {
    width: 100px;
}

.cse {
    width: 100%;
    display: block;
    background-color: #fff;
    border-radius: 50%;
    padding: 1rem;
}

.botonmidis {
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: .3rem;
    width: 170px;
    text-align: center;
    color: #024271;
    text-decoration: none;
    border-radius: .5rem;
    left: 50%;
    transform: translate(-50%);
    bottom: 6%;
}

.botonmidis:hover {
    background-color: rgb(231, 231, 231);
}

.section_two {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-flow: row wrap;
    margin-top: 2rem;
}

.programas_sociales {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column nowrap;
    width: 310px;
    height: 728px;
    background-color: #fff;
}

.ppss_banner {
    background-color: red;
    width: 100%;
    height: 50px;
}

.ppss_title {
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.ppss_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.ppss_logo {
    width: 100%;
    height: 50px;
}

.logoppss {
    height: 70%;
    display: block;
    margin: .5rem auto;
}

.ppss_textfull {
    text-align: center;
    font-size: .8rem;
}

.ppss_btnsmore {
    display: block;
    background-color: rgb(235, 75, 75);
    color: #fff;
    text-decoration: none;
    padding: .5rem;
    border-radius: .25rem;
    margin-top: .5rem;
    font-size: .8rem;
    text-align: center;

}


cse

.cse_option {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column nowrap;
    width: 310px;
    background-color: #008cff;
}

.cse_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.cse_banner {
    background-color: rgb(51, 99, 255);
    width: 100%;
    height: 50px;
}

.cse_textfull {
    text-align: center;
    font-size: .8rem;
    color: #fff;
}

.cse_btnsmore {
    display: block;
    background-color: #fff;
    color: #3d3d3d;
    text-decoration: none;
    padding: .5rem;
    border-radius: .25rem;
    margin-top: .5rem;
    font-size: .8rem;
}

.videotuto {
    background-color: #fff;
}

.youtube {
    width: 100%;
}

.viewmore {
    background-color: red;
    color: #fff;

}

.phonenone{
display: none;
} */

@media (width > 764px) {
    /* .nav_conteiner {
        --transform-menu-show: translate(0%)
    }

    .acceso {
        display: none;
    }

    .nav_list {
        position: static;
        grid-auto-flow: column;
        place-content: unset;
        padding: 0;

        transition: unset;
    }

    .section_two {
        width: 90%;
    }

    .programas_sociales {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-flow: column nowrap;
        width: 65%;
        background-color: #fff;
    }

    .ppss {
        width: 100%;
    }

    .ppss_box {
        width: 100%;
            height: 80px;
        justify-content: start;
    }

    .ppss_logo {
  width: 20%;
    }

    .wicien{
        width:80%;
    }


    .ppss_text{
        width: 65%;
    }

    .ppss_textfull {
        width: 90%;
        text-align: start;
        margin-left: 1rem;
    }

    .ppss_btn{
        width: 15%;
    }

    .dnone{
        display: none;
    }

    .phonenone{
display: flex;
} */

}



@media screen and (min-width: 1000px) {}

@media screen and (min-width: 1200px) {}