/* FUENTE */

@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Mochiy+Pop+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --font-one: 'Roboto', 'Rubik', 'sans-serif';
    --font-two: 'Rubik', 'Roboto', 'sans-serif';
    --font-three: 'Londrina Solid', 'Roboto', 'sans-serif';
    --font-four: 'Mochiy Pop One', 'Roboto', 'sans-serif';

    --scroll-bar: 13px;

    --boderc-one: rgb(228, 165, 247);
    --color-first: rgba(86, 13, 109);
    --color-white: #fff;
    --color-black: #000;

    --bg-primary: rgba(249, 242, 231);
    --bg-secondary: rgba(231, 249, 244);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-one);
    font-size: 1rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* BODY */

/*HEADER*/

.midis-body {
    width: calc(100vw - var(--scroll-bar));
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    background-image: radial-gradient(600px at 0 0, var(--bg-primary), var(--bg-secondary));
    position: relative;
}

.midis-header {
    background-color: #fff;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: end;
}

.midis-head {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.midis-logo {
    height: 50px;
}

.icons-title {
    text-decoration: none;
    color: #505050;
    margin: 0 1rem;
    position: relative;
    font-size: .8rem;
}

.bar {
    font-weight: 800;
    margin: 0 0 0 2rem;
    color: #000;
}

.alingico {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
}


/*nav*/

.midis-nav {
    width: 100%;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: end;
    padding-right: 2.5%;
}

.midis-nav-list {
    text-decoration: none;
    color: #505050;
    margin: 0 1.5rem;
    position: relative;
}

.rp {
    margin: 0 1rem;
}

.alingicotwo {
    position: absolute;
    top: 5%;
    right: -25px;
}

.midis-nav-list:hover {
  font-weight: 500;
  color: #000;
}

.bandera {
    display: block;
    width: 100%;
    height: 8px;
    background: linear-gradient(90deg, #ff0000 25%, #616161 25% 80%);
}



/*banner*/

.midis-section {
    background-color: #fa3434;
    width: 100%;
    height: 580px;
    overflow: hidden;
    position: relative;
}

.midis-carrusel {
    width: 400%;
    height: 100%;
    display: flex;
}

.midis-all-section {
    width: calc(100% / 4);
    height: 100%;
    position: relative;
}

.midis-banner-title {
    position: absolute;
    width: 50%;
    height: 580px;
    top: 0;
    background: linear-gradient(90deg, #000000ce 60%, rgba(0, 0, 0, 0.349) 90%, transparent 95%);
}

.contentboxtitle {
    height: 30%;
    width: 80%;
    position: absolute;
    top: 20%;
    left: 20%;
}

.contentboxsubtitle {
    height: 40%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 20%;
    background-color: #000000ce;
}

.midistitle {
    color: #fff;
    font-size: 2rem;
    text-align: start;
    position: absolute;
    bottom: 5%;
    padding: 1rem;
    background-color: #000000ce;
}

.midissubtitle {
    color: #fff;
    font-size: 1.3rem;
    position: absolute;
    top: 0;
    padding: 1rem;
}

.midis-all-section .imgbanner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 40%;
}

.midis-btn-right,
.midis-btn-left {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 1rem;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.midis-btn-right {
    right: 0;
}

.midis-btn-left {
    left: 0;
}

.midis-btn-right:hover,
.midis-btn-left:hover {
    box-shadow: 0px 0px 8px rgb(245, 18, 18);
}

.midis-btn-left::before {
    content: url('/img/lefticon.svg');
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.midis-btn-right::before {
    content: url('/img/rigthicon.svg');
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*ppss*/

.midis-programassociales {
    width: 100%;
    background-color: #0873bb;
}

.title-ppss {
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    padding: 2rem 0 0 0;
}

.midis-content-ppss,
.midis-content-cse, .midis-content-services {
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 1rem 0 3rem 0;
}

.box-ppss {
    width: 300px;
    height: 320px;
    background-color: #fff;
    border-radius: .5rem;
    margin: 1rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 1.5rem;
    transform: scale(1);
}

.box-ppss:hover {
    transform: scale(101%);
    box-shadow: 0px 0px 2px rgb(255, 255, 255);
}

.subtitle-ppss {
    text-align: center;
    padding: 0 0 1rem 0;
}

.content-boxppss {
    width: 150px;
    height: 50px;
    background-color: transparent;
    position: relative;
}

.logos-ppss {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

}

.text-ppss {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    padding: 1rem 0 0 0;
    color: #505050;
}

.btnmoreinfo {
    text-decoration: none;
    background-color: red;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: .5rem;
    margin-top: 1.2rem;
}

.btnmoreinfo:hover {
    background-color: rgb(255, 55, 55);
}

.corregir {
    margin: .4rem 0;
    height: 80%;
}

/*cse*/

.midis-clasificacions {
    width: 100%;
    background-color: #fff;
    position: relative;
}

.title-cse {
    color: #2e2e2e;
    font-size: 2rem;
    text-align: center;
    padding: 2rem 0 0 0;
}

.card-cse {
    width: 300px;
    height: 200px;
    background-color: rgb(238, 238, 238);
    border-radius: .5rem;
    margin: 1rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 1.5rem;
    transform: scale(1);
}

.card-cse:hover {
    transform: scale(101%);
}

.imgcard-cse {
    height: 100%;
}

.imgcse {
    width: 200px;
}

.text-cse {
    text-align: center;
}

.btnmoreinfocse {
    text-decoration: none;
    background-color: #0873bb;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: .5rem;
    margin-top: 1.2rem;
    transform: scale(1);
}

.btnmoreinfocse:hover {
    background-color: #034c7c;
}

/*services*/

.midis-services{
    width: 100%;
    height: 500px;
    background-color: #ffffff;
    position: relative;
}

.title-services{
    color: #2e2e2e;
    font-size: 2rem;
    text-align: center;
    padding: 2rem 0 0 0;
}

.card-service{
    width: 200px;
    height: 300px;
    background-color:#fff;
    border-radius: .5rem;
    margin: 1rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    transform: scale(1);
    border: 1px solid #0873bb;
}

.card-service:hover{
   box-shadow: 0px 0px 10px rgb(202, 202, 202);
}

.firstcservice{
    width: 100%;
    height: 150px;
    background-color: #ffffff;
    border-radius: .5rem .5rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serviceimg{
    width: 60%;
}

.firsttservice{
    width: 100%;
    height: 100px;
    background-color: #3473fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-services{
    text-align: center;
    color: #fff;
    padding: 0 1rem;
}

.firstbservice{
    width: 100%;
    height: 50px;
    background-color: #3473fa;
    border-radius: 0 0 .5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: start;
}

.btnmoreinfoss{
    text-decoration: none;
    color: #fff;
    background-color: #000000;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.coloryellow{
    color: yellow;
    font-weight: 600;
}






/* .bd-header {
    width: 100%;
    background-color: #fff;
}

.nav_conteiner {
    width: min(90%, 1200px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    --icon-toggle-menu: url("./img/menu.png");
    --transform-menu-show: translate(-100%)
}

.nav_conteiner:has(.nav_input:checked) {
    --icon-toggle-menu: url("./img/smenu.png");
    --transform-menu-show: translate(0%)
}

.logomidis {
    height: 40px;
}

.logo,
.acceso {
    z-index: 10;
}

.nav_input {
    display: none;
}

.acceso {
    width: 30px;
    height: 30px;
    background-image: var(--icon-toggle-menu);
    background-size: cover;
    transition: background-image .5s;
}

.nav_input {
    width: 40px;
    height: 40px;
}

.nav_list {
    transform: var(--transform-menu-show);
    position: fixed;
    inset: 0;
    padding: 1.5rem 5%;
    background-color: #fff;
    list-style: none;
    display: grid;
    place-content: center;
    gap: 2rem;
    text-align: center;
    transition: .5s transform;
    z-index: 3;
}

.nav_link {
    color: rgb(47, 47, 47);
    text-decoration: none;
    font-size: .9rem;
}

.nav_link:hover {
    font-size: 1rem;
}


body

.bd-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.accesibilidad {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    background-color: #676767;
    height: 50px;
}

.lengua {
    background-color: rgb(255, 255, 255);
    color: #464646;
    padding: .5rem;
    margin: .1rem;
    text-align: center;
    border-radius: .5rem;
    text-decoration: none;
    width: 200px;
    font-size: .8rem;
}

.lengua:hover {
    background-color: rgb(197, 220, 254);
}

.accs {
    background-color: #f93e3e;
    color: #ffffff;
    padding: .5rem;
    margin: .1rem;
    text-align: center;
    border-radius: .5rem;
    text-decoration: none;
    width: 200px;
    font-size: .8rem;
}

.title {
    text-align: center;
    font-size: 1.5rem;
    color: #323232;
    padding: 2rem
}

.midisall {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.contentmidis {
    width: 310px;
    height: 150px;
    background: linear-gradient(0deg, #024271 32%, #0f74be 32% 80%);
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    margin: .5rem;
}

.redc {
    background: linear-gradient(0deg, #710202 32%, #be0f0f 32% 80%);
}

.boxmidis {
    width: 200px;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-flow: column nowrap;
}

.lettermidis {
    padding: 1rem 0 0 1rem;
    font-size: 1rem;
    color: #ffffff;
}

.importletter {
    font-size: 1.4rem;
    font-weight: 600;
    color: #ffffff;
    padding: 0 0 0 1rem;
    margin-top: .3rem;
}

.imgmidis {
    width: 100px;
}

.cse {
    width: 100%;
    display: block;
    background-color: #fff;
    border-radius: 50%;
    padding: 1rem;
}

.botonmidis {
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: .3rem;
    width: 170px;
    text-align: center;
    color: #024271;
    text-decoration: none;
    border-radius: .5rem;
    left: 50%;
    transform: translate(-50%);
    bottom: 6%;
}

.botonmidis:hover {
    background-color: rgb(231, 231, 231);
}

.section_two {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-flow: row wrap;
    margin-top: 2rem;
}

.programas_sociales {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column nowrap;
    width: 310px;
    height: 728px;
    background-color: #fff;
}

.ppss_banner {
    background-color: red;
    width: 100%;
    height: 50px;
}

.ppss_title {
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.ppss_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.ppss_logo {
    width: 100%;
    height: 50px;
}

.logoppss {
    height: 70%;
    display: block;
    margin: .5rem auto;
}

.ppss_textfull {
    text-align: center;
    font-size: .8rem;
}

.ppss_btnsmore {
    display: block;
    background-color: rgb(235, 75, 75);
    color: #fff;
    text-decoration: none;
    padding: .5rem;
    border-radius: .25rem;
    margin-top: .5rem;
    font-size: .8rem;
    text-align: center;

}


cse

.cse_option {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column nowrap;
    width: 310px;
    background-color: #008cff;
}

.cse_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.cse_banner {
    background-color: rgb(51, 99, 255);
    width: 100%;
    height: 50px;
}

.cse_textfull {
    text-align: center;
    font-size: .8rem;
    color: #fff;
}

.cse_btnsmore {
    display: block;
    background-color: #fff;
    color: #3d3d3d;
    text-decoration: none;
    padding: .5rem;
    border-radius: .25rem;
    margin-top: .5rem;
    font-size: .8rem;
}

.videotuto {
    background-color: #fff;
}

.youtube {
    width: 100%;
}

.viewmore {
    background-color: red;
    color: #fff;

}

.phonenone{
display: none;
} */

@media (width > 764px) {
    /* .nav_conteiner {
        --transform-menu-show: translate(0%)
    }

    .acceso {
        display: none;
    }

    .nav_list {
        position: static;
        grid-auto-flow: column;
        place-content: unset;
        padding: 0;

        transition: unset;
    }

    .section_two {
        width: 90%;
    }

    .programas_sociales {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-flow: column nowrap;
        width: 65%;
        background-color: #fff;
    }

    .ppss {
        width: 100%;
    }

    .ppss_box {
        width: 100%;
            height: 80px;
        justify-content: start;
    }

    .ppss_logo {
  width: 20%;
    }

    .wicien{
        width:80%;
    }


    .ppss_text{
        width: 65%;
    }

    .ppss_textfull {
        width: 90%;
        text-align: start;
        margin-left: 1rem;
    }

    .ppss_btn{
        width: 15%;
    }

    .dnone{
        display: none;
    }

    .phonenone{
display: flex;
} */

}



@media screen and (min-width: 1000px) {}

@media screen and (min-width: 1200px) {}